<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-adsense-account" content="ca-pub-7394838836739167">
</head>
<body>
	<script>window.location.href = "/";</script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LD2NC6ZPKM"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-LD2NC6ZPKM');
	</script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7394838836739167" crossorigin="anonymous"></script>
</body>
</html>